@model ORBook.Models.ViewModels.BookEditView

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa</h1>

<h4>Sách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Book.CreatedTime" class="form-control" />

            <label asp-for="Book.BookGenres" class="control-label"></label>
            <div class="form-group d-flex flex-wrap">
                @foreach (var genre in Model.Genres)
                {
                    var isChecked = Model.SelectedGenreIds.Contains(genre.Id) ? "checked" : "";
                    <div class="col-sm-6">
                        <input type="checkbox"
                            id="genre_@genre.Id"
                            name="SelectedGenreIds"
                            value="@genre.Id"
                            @isChecked />
                        <label for="genre_@genre.Id">@genre.Name</label>
                    </div>
                }
            </div>

            <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" /> |
                <a asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
